.filmes {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.filmes-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.filmes-item h2 {
  margin-bottom: 10px;
  font-size: 22px;
}

.filmes-item img {
  border-radius: 4px 4px 0 0;
}

.filmes-item a {
  text-decoration: none;
  background-color: brown;
  color: #fff;
  font-size: 18px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
}